*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
height: 100%;
background:linear-gradient(45deg,#ff0 50%,#333 50%);
}

.todolist{

    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 30px rgba(62,9,11,0.3 );
    
}


h1
{
    font-size: 3rem;
    font-weight: 50;
    margin: 1rem 0 3rem;
    text-align: center;
    color: #fff;
    font-family: 'Teko', sans-serif;
}

.styling
{
    font-weight: 800;
    color: rgb(14, 1, 1);

} 
.input_div
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.input_div .input{
padding: 0.3rem 0.5rem;
height: 50px;
outline: none;
background-color: #333;
width: 600px;
border: 1px black;
font-size: 1.15rem;
margin: 1.25rem;
border-radius: 15px;
color: white;
border: 3px solid rgb(27, 27, 27);
}

.addButton
{
    height: 35px;
    width: 55px;
    font-size: 1.25rem;
    border-radius: 5px;
    outline: none;
    border: black;
    background-color: rgb(241, 232, 232);
    color: rgb(5, 5, 5);
    margin:  2.25rem;
    
    cursor: pointer; 
}

.addButton :hover{
    opacity: 0.8;
}
.container{
    display:flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}
.item{
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid rgb(8, 8, 8);
}

.item_input{
background: none;
outline: none;
color: black;
border: none;
width: 350px;
font-size: 1.4rem;

}

.editButton{
 font-size: 1.4rem;
 margin: 0 0.75rem;  
 font-family: 'Teko', sans-serif ; 
 background: none;
 outline: none;
 color:black;
 border: none;
 cursor: pointer;
}

.removeButton{
    font-size: 1.4rem;
    margin: 0 0.75rem;  
    font-family: 'Teko', sans-serif ; 
    background: none;
    outline: none;
    color : red;
    border: none;
    cursor: pointer;
   }

.markButton{
    font-size: 1.4rem;
    margin: 0 0.75rem;  
    font-family: 'Teko', sans-serif ; 
    background: none;
    outline: none;
    color : rgb(20, 212, 14);
    border: none;
    cursor: pointer;
}

 .table1{
    font-size: 1.2rem;
    font-family: 'Teko', sans-serif ; 
    color: rgb(0, 255, 128); 
 }  